/*Comienza el CSS de los card*/
/*Titulo del "SALE" del index*/
.sale {
    margin: 3rem 0rem;
    font-weight: bold;
    font-size: x-large;
    text-align: center;
    margin: 10rem 0rem 5rem 0rem;
}

.card-section {
    display: flex;
    flex-flow: column;
    align-items: center;
    gap: 2.5rem;
    .card {
        //flex: auto;
        &:hover {
            box-shadow: 0px 0px 10px 0px #CCC;
            transform: scale(1.1);
        
        }
        .card-title {
            font-size: large;
            margin-bottom: 2rem;
            text-decoration: underline;
    
        } 
    }
}

.card-text {
    font-style: italic;
    }

.card-price-number {
    font-size: large;
    font-weight: bolder;
     }

.card-price-number-linethrough {
    text-decoration: line-through;
    font-size: small;
     }


/* "@" */
/*tablet*/
@media (min-width: $tablet) {
    .card-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-items: center;
    }
}

/*desktop / laptop*/
@media (min-width: $laptop) {
    .card-section {
        grid-template-columns: repeat(3, 1fr);
    }
}
