.main-title-div {
    padding: 20rem 0rem 10rem 0rem;
}

.main-title {
    text-align: center;
    background-color: $secondary-color;
    padding: 5rem 1rem;
}

/* GRID Y STYLES DE POLITICA DE CAMBIO */
.secondary-title-div {
    padding-bottom: 10rem;
    display: grid;
    grid-template-areas:
    ". photo"
    "title photo"
    "text photo";
    grid-template-rows: 1fr 1fr 3fr;
    grid-template-columns: 2fr 1fr;
    
}

.secondary-title {
    margin-bottom: 5rem;
    font-weight: bolder;
    font-size: x-large;
    grid-area: title;
    text-align: center;
}

.secondary-title-text {
    grid-area: text;
    text-align: center;
    font-size: larger;
}

.secondary-title-photo {
    height: 30rem;
    grid-area: photo;
    margin: 0 auto;
}

/* Styles para contacto */
.main-p {
    font-size: x-large;
    font-style: oblique;
}


/* "@" */
/* TABLET */
@media (max-width: $tablet) {
    .secondary-title-photo {
        display: none;
    }
}

@media (max-width: $tablet) {
    .secondary-title-div {
        display: grid;
        grid-template-areas: 
        "title"
        "text";
        grid-template-rows: 1fr 2fr;
        grid-template-columns: 1fr;
    }
}